.searchButton {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-transform: uppercase;
    padding: 15px 45px;
    display: block;
    margin: 30px auto;
    box-shadow: none;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 20px;
}